{% extends "page.html" %}

{% macro th(label, key='', colspan=1) %}
<th data-sort="{{key}}" colspan="{{colspan}}">{{label}}
  {% if key %}
  <a href="#"><i class="fa {% if sort.get(key) == 'asc' -%}
                               fa-sort-asc
                           {%- elif sort.get(key) == 'desc' -%}
                               fa-sort-desc
                           {%- else -%}
                               fa-sort
                           {%- endif %} sort-icon">
  </i></a>
  {% endif %}
</th>
{% endmacro %}

{% block main %}

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        {% block thead %}
        {{ th("用户 (%i)" % users|length, 'name') }}
        {{ th("权限", 'admin') }}
        {{ th("最后查看时间", 'last_activity') }}
        {{ th("运行状态 (%i)" % running|length, 'running', colspan=2) }}
        {% endblock thead %}
      </tr>
    </thead>
    <tbody>
      <tr class="user-row add-user-row">
        <td colspan="12">
          <a id="add-users" class="col-xs-2 btn btn-default">添加用户</a>
          <a id="stop-all-servers" class="col-xs-2 col-xs-offset-5 btn btn-danger">停止所有服务</a>
          <a id="shutdown-hub" class="col-xs-2 col-xs-offset-1 btn btn-danger">关闭Hub</a>
        </td>
      </tr>
  {% for u in users %}
    <tr class="user-row" data-user="{{u.name}}" data-admin="{{u.admin}}">
      {% block user_row scoped %}
      <td class="name-col col-sm-2">{{u.name}}</td>
      <td class="admin-col col-sm-2">{% if u.admin %}admin{% endif %}</td>
      <td class="time-col col-sm-3">{{u.last_activity.isoformat() + 'Z'}}</td>
      <td class="server-col col-sm-2 text-center">
        <span class="stop-server btn btn-xs btn-danger {% if not u.running %}hidden{% endif %}">停止</span>
        <span class="start-server btn btn-xs btn-success {% if u.running %}hidden{% endif %}">启动</span>
      </td>
      <td class="server-col col-sm-1 text-center">
        {% if admin_access %}
        <span class="access-server btn btn-xs btn-success {% if not u.running %}hidden{% endif %}">转到服务</span>
        {% endif %}
      </td>
      <td class="edit-col col-sm-1 text-center">
        <span class="edit-user btn btn-xs btn-primary">编辑</span>
      </td>
      <td class="edit-col col-sm-1 text-center">
        {% if u.name != user.name %}
        <span class="delete-user btn btn-xs btn-danger">删除</span>
        {% endif %}
      </td>
      {% endblock user_row %}
    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>

{% call modal('Delete User', btn_class='btn-danger delete-button') %}
  确定要删除用户 <span class="delete-username">USER</span>?
  删除操作不能恢复。
{% endcall %}

{% call modal('Stop All Servers', btn_label='Stop All', btn_class='btn-danger stop-all-button') %}
  确定要删除所有的服务？Kernels将会被关闭并且会丢失没有保存的数据。
{% endcall %}

{% call modal('Shutdown Hub', btn_label='Shutdown', btn_class='btn-danger shutdown-button') %}
  确定要关闭Hub?
  选择要关闭的代理或者服务：
  <div class="checkbox">
    <label>
      <input type="checkbox" class="shutdown-proxy-checkbox">关闭代理
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" class="shutdown-servers-checkbox">关闭单用户服务
    </label>
  </div>
{% endcall %}

{% macro user_modal(name, multi=False) %}
{% call modal(name, btn_class='btn-primary save-button') %}
<div class="form-group">
  <{%- if multi -%}
    textarea
    {%- else -%}
    input type="text"
    {%- endif %}
    class="form-control username-input"
    placeholder="{%- if multi -%} 输入用户名，并按行分割 {%- else -%} 输入用户名 {%-endif-%}">
  {%- if multi -%}</textarea>{%- endif -%}
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" class="admin-checkbox">Admin
  </label>
</div>
{% endcall %}
{% endmacro %}

{{ user_modal('Edit User') }}

{{ user_modal('Add Users', multi=True) }}

{% endblock %}

{% block script %}
<script type="text/javascript">
require(["admin"]);
</script>
{% endblock %}
